{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Icons Grid -->
    <section class="masthead features-icons bg-light text-center text-center">    
        <div class="container">
            <div class="row">
                <div class="col-lg-4" id="overlay_1">
                    <div id="overlay_1a" class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i id="overlay_1b" class="fas fa-running fa-sm m-auto"></i>
                        </div>
                        <h3><a id="overlay_1c" href="{% url 'products' %}">Get the gear</a></h3>
                    </div>
                </div>
                <div class="col-lg-4" id="overlay_2">
                    <div id="overlay_2a" class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i id="overlay_2b" class="fas fa-dumbbell fa-sm m-auto"></i>
                        </div>
                        <h3><a id="overlay_2c" href="{% url 'products' %}">Access classes</a></h3>
                    </div>
                </div>
                <div class="col-lg-4" id="overlay_3">
                    <div id="overlay_3a" class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i id="overlay_3b" class="fas fa-blog fa-sm m-auto"></i>
                        </div>
                            <h3><a id="overlay_3c" href="{% url 'blog:post_list' %}">Get involved</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background: url('../media/Argos-girl-lunge.jpg') center center;"></div>
                <div class="col-lg-6 order-lg-1 showcase-text">
                    <h2>Workout with weights</h2>
                    <p class="lead mb-0">Using the Live Strong app you can join classes performing weight classes!</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('../media/Argos-wellbeing.jpg');"></div>
                <div class="col-lg-6 showcase-text">
                    <h2>Run with Live Strong</h2>
                    <p class="lead mb-0">Use our app to go on virtual group runs. Our instructor led runs will help motivate you to run faster and for longer</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../media/Argos-girl-treadmill.jpg');"></div>
                <div class="col-lg-6 order-lg-1 showcase-text">
                    <h2>Use indoor and out</h2>
                    <p class="lead mb-0">As part of our offering you can join us indoors or out!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">What people are saying...</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="../media/testimonials-1.jpg" alt="">
                        <h5>Margaret E.</h5>
                        <p class="font-weight-light mb-0">"Fantastic! Thanks so much guys!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="../media/testimonials-2.jpg" alt="">
                        <h5>Fred S.</h5>
                        <p class="font-weight-light mb-0">"Amazing. I've been using it to make lots of gains."</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="../media/testimonials-3.jpg" alt="">
                        <h5>Sarah W.</h5>
                        <p class="font-weight-light mb-0">"Thanks so much, you guys are the best!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function() {
            $("#overlay_1").mouseenter(function() {               
                $("#overlay_1b").css("opacity", "1");
                $("#overlay_1c").css("opacity", "1");
                $("#overlay_1a").css("background-color", "rgba(0,0,0,0.5)");
            });
            $("#overlay_1").mouseleave(function() {
                $("#overlay_1b").css("opacity", "0.6");
                $("#overlay_1c").css("opacity", "0.6");
                $("#overlay_1a").css("background-color", "transparent");
            });
            $("#overlay_2").mouseenter(function() {               
                $("#overlay_2b").css("opacity", "1");
                $("#overlay_2c").css("opacity", "1");
                $("#overlay_2a").css("background-color", "rgba(0,0,0,0.5)");
            });
            $("#overlay_2").mouseleave(function() {
                $("#overlay_2a").css("background-color", "transparent");
                $("#overlay_2b").css("opacity", "0.6");
                $("#overlay_2c").css("opacity", "0.6");
            });
            $("#overlay_3").mouseenter(function() {               
                $("#overlay_3b").css("opacity", "1");
                $("#overlay_3c").css("opacity", "1");
                $("#overlay_3a").css("background-color", "rgba(0,0,0,0.5)");
            });
            $("#overlay_3").mouseleave(function() {
                $("#overlay_3a").css("background-color", "transparent");
                $("#overlay_3b").css("opacity", "0.6");
                $("#overlay_3c").css("opacity", "0.6");
            });
        });
    </script>
{% endblock %}