{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h1>{{ post.title }}</h1>
                <p class="date">
                    Published {{ post.publish }} by {{ post.author }}
                </p>
                {{ post.body|linebreaks }}
            </div>
            <div class="col-4">
                <div id="sidebar">
                    <h2>My blog</h2>
                    <p>This is my blog.</p>
                </div>
            </div>
        </div>
    </div>   
{% endblock %}

