{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}
        
        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <!-- Fontawesome icons -->
            <script src="https://kit.fontawesome.com/a0ff73228b.js" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
            
        {% endblock %}

            <title>Ml4! {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Navigation 

        {% block page_header %}
        {% endblock %}-->
        <!--<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">    
            <div class="container" id="home">
                <a id="alpha" style="color:#ff0000; opacity:0.6;" class="navbar-brand" href="{% url 'home' %}">
                    MS4
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>    
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li id="one" class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="{% url 'blog:post_list' %}" id="blog-options">
                                <div class="text-center">
                                    <div><i id="blog-options_1" class="fas fa-blog fa-lg" style="color:#ff0000; opacity:0.6;"></i></div>
                                    <p id="blog-options_2" class="my-0" style="color:#ff0000; opacity:0.6;">Blog</p>
                                </div>
                            </a>
                        </li>
                        <li id="two" class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i id="user-options_1" class="fas fa-user fa-lg" style="color:#ff0000; opacity:0.6;"></i></div>
                                    <p id="user-options_2" class="my-0" style="color:#ff0000; opacity:0.6;">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li id="three" class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i id="three_1" style="color:#ff0000; opacity:0.6;" class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p id="three_2" class="my-0" style="color:#ff0000; opacity:0.6;">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                            $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li id="four" class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="product-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i id="product-options_1" style="color:#ff0000; opacity:0.6;" class="far fa-eye fa-lg"></i></div>
                                    <p id="product-options_2" class="my-0" style="color:#ff0000; opacity:0.6;">Products</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                <a href="{% url 'products' %}?category=activewear,essentials" class="dropdown-item">
                                <!--Equipment-->
                                category search all clothes</a>
                                <a href="{% url 'products' %}?category=jeans" class="dropdown-item">
                                <!--Training-->
                                category search jeans</a>
                                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">
                                <!--Subscriptions-->
                                category search shirts</a>
                                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">
                                <!--Equipment-->
                                sort by price asc</a>
                                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">
                                <!--Training-->
                                sort by rating desc</a>
                                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">
                                <!--Subscriptions-->
                                sort by category asc</a>
                            </div>
                        </li>
                        <script>
                            $(document).ready(function() {
                                $("#alpha").mouseenter(function() {               
                                    $("#alpha").css("opacity", "1").css("background-color", "rgba(0,0,0,0.5)");
                                    $("#one").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#two").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#three").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#four").css("background-color", "rgba(0,0,0,0.2)");
                                });
                                $("#alpha").mouseleave(function() {
                                    $("#alpha").css("opacity", "0.6").css("background-color", "transparent");
                                    $("#one").css("background-color", "transparent");
                                    $("#two").css("background-color", "transparent");
                                    $("#three").css("background-color", "transparent");
                                    $("#four").css("background-color", "transparent");
                                });
                                $("#one").mouseenter(function() {
                                    $("#blog-options_1").css("opacity", "1");
                                    $("#blog-options_2").css("opacity", "1");
                                    $("#one").css("background-color", "rgba(0,0,0,0.5)");
                                    $("#two").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#three").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#four").css("background-color", "rgba(0,0,0,0.2)");
                                });
                                $("#one").mouseleave(function() {
                                    $("#blog-options_1").css("opacity", "0.6");
                                    $("#blog-options_2").css("opacity", "0.6");
                                    $("#one").css("background-color", "transparent");
                                    $("#two").css("background-color", "transparent");
                                    $("#three").css("background-color", "transparent");
                                    $("#four").css("background-color", "transparent");
                                });
                                $("#two").mouseenter(function() {
                                    $("#user-options_1").css("opacity", "1");
                                    $("#user-options_2").css("opacity", "1");
                                    $("#two").css("background-color", "rgba(0,0,0,0.5)");
                                    $("#one").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#three").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#four").css("background-color", "rgba(0,0,0,0.2)");
                                });
                                $("#two").mouseleave(function() {
                                    $("#user-options_1").css("opacity", "0.6");
                                    $("#user-options_2").css("opacity", "0.6");
                                    $("#two").css("background-color", "transparent");
                                    $("#one").css("background-color", "transparent");
                                    $("#three").css("background-color", "transparent");
                                    $("#four").css("background-color", "transparent");
                                });
                                $("#three").mouseenter(function() {
                                    $("#three_1").css("opacity", "1");
                                    $("#three_2").css("opacity", "1");
                                    $("#three").css("background-color", "rgba(0,0,0,0.5)");
                                    $("#one").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#two").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#four").css("background-color", "rgba(0,0,0,0.2)");
                                });
                                $("#three").mouseleave(function() {
                                    $("#three_1").css("opacity", "0.6");
                                    $("#three_2").css("opacity", "0.6");
                                    $("#three").css("background-color", "transparent");
                                    $("#one").css("background-color", "transparent");
                                    $("#two").css("background-color", "transparent");
                                    $("#four").css("background-color", "transparent");
                                });
                                $("#four").mouseenter(function() {
                                    $("#product-options_1").css("opacity", "1");
                                    $("#product-options_2").css("opacity", "1");
                                    $("#four").css("background-color", "rgba(0,0,0,0.5)");
                                    $("#one").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#two").css("background-color", "rgba(0,0,0,0.2)");
                                    $("#three").css("background-color", "rgba(0,0,0,0.2)");
                                });
                                $("#four").mouseleave(function() {
                                    $("#product-options_1").css("opacity", "0.6");
                                    $("#product-options_2").css("opacity", "0.6");
                                    $("#four").css("background-color", "transparent");
                                    $("#one").css("background-color", "transparent");
                                    $("#two").css("background-color", "transparent");
                                    $("#three").css("background-color", "transparent");
                                });
                            });
                        </script>
                    </ul>
                </div>                
            </div> 
        </nav>    
        
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% endfor %}
            </div>
        {% endif %}


        <header class="masthead text-white text-center">
           <!-- <div class="overlay"></div>-->
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5">Come join us on our quest to a healther life!</h1>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form method="GET" action="{% url 'products' %}">
                            <div class="form-row">
                                <div class="col-md-12 mb-2 mb-md-0">
                                    <div class="input-group w-100">
                                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                                        <div class="input-group-append">
                                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                                <span class="icon">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        
        {% block content %}
        {% endblock %}
        
        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="#">About</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="#">Contact</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="#">Terms of Use</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="#">Privacy Policy</a>
                            </li>
                        </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2020. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                            </li>
                            <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                            </li>
                            <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
 
        {% block postloadjs %}
            <script type="text/javascript">
                $('.toast').toast({delay: 6000});
                $('.toast').toast('show');
            </script>
        {% endblock %}
    </body>
</html>